html{
    background-color: whitesmoke;
}

body{
    background-color: rgb(253, 253, 253);
    text-align: center;
    color: purple;
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

nav{
    background-color: rgba(201, 201, 201, 0.3);
    backdrop-filter: blur(1px);
    height: 50px;
}

nav li{
    display: inline;

    margin-bottom: 20px;

    padding-bottom: 5px;

    padding-left: 10px;

    font-size: large;
    
    justify-content: space-evenly;
}

nav a{
    color: rgb(255, 255, 255);

    text-decoration: none;
    justify-content: space-evenly;
}

.navbar-right {
    font-family:'Courier New', Courier, monospace;
}

.navbar-split {
    background-color: rgba(201, 201, 201, 0.3);
    backdrop-filter: blur(1px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
}

.page-title {
    color: #9CE29E;
    -webkit-text-stroke: 4px #4F7052;
    font-size: 70px;
}

.main {
    padding-block-start: 20px;
    padding-block-end: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar {
    max-width: 50%;
    background: #EFF7FF;
    padding: 13px 22px;
    border-radius: 999px;
    display: flex;
    box-shadow: 10px;
}

.search-and-nav {
    gap: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}